<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="https://static.wuchna.com/static/assets/wuchna/wuchna-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="https://static.wuchna.com/static/assets/wuchna/wuchna-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="https://static.wuchna.com/static/assets/wuchna/wuchna-96x96.png" sizes="96x96">
        <title>About Wuchna.com</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre Baskerville">
    <style>
      body {font-family: 'Libre Baskerville', serif !important;}
    </style>

</head>
    <body>
        <div class="container">
            <span class="text-md-center">
                <br/>


                <center><a href="https://wuchna.com/"><img src="https://static.wuchna.com/static/assets/wuchna/wuchna-home.png" class="img-responsive mt-4 mb-6 mx-auto" width="300"></a></center>
                <center>
                <div class="col-md-offset-3 col-md-8">
                    <br><p>Wuchna.com is our effort to collate the world's real-time data into one hub, power it by AI and and letting it serve humanity (and investors). The idea is to have a Wiki without human authors, and with videos and ads. Wuchna is designed to be Wikipedia 2.0 but with a different take on tech, cash and management philosophies. </p>

<!--                    <p>The steps of Wuchna's development are as follows:
                   <br> Step 1. Integrate Wikipedia-topics, videos and news and launch a 10,000-page site. Put up ads for intial revenue. (by 15th August 2018)
                   <br> Step 2. Focus on SEO, and crowdsource the production of content - including videos, images and share revenues.
                   <br> Step 3. Integrate AI for content updation. </p><br>
                    <hr>-->
<hr><br>
                    <p>Wikipedia.org is the world's 5th most visited website today. We here at Wuchna are VERY VERY grateful to its contribution to humanity and the growth of the web. But we intend to disrupt its model, since its time has come. The new generation relies on videos, has very little attention span, and the information world has spread too much far across and wide to make a manual effort at collating this information possible. A large part of the online world now resides in Asia and Africa, but the wiki world is yet to reach them. In today's world, it is indeed a bad idea to write down the world's information by hand: information is growing at a faster rate than our hands ever could write.</p>

                    <p>A child outgrowing a parent does not diminish or threaten the value of the parent. Rather it becomes the heritage of the child to preserve the values and the legacy of the parent, while also embibing the elements of the new era: the new economy, the new society, the new tech, the new management and the shorter attention spans of the new generation. In our humble opinion, the primary deficits of Wikipedia.org model are: reliance on human editing, selection of topics, no monetization, old design in a new world and bad user engagement. On the other hand, it is the largest and most trusted hub of content that humanity has ever known. What could a child of such a parent build upon and enrich the world with?</p>

                    <p>If an image is worth a thousand words, a video could turn out to be infinte words?? AI is coming up. News and business topics need to be integrated into the site. Social feeds could be integrated, and people should be able to ask questions and get answers from the community. The design could be enhanced upon, user engagement can be better, and all of this is possible if monetization is not ignored. The new world focuses on sharing, and we need to leverage the possibilities to create something which is much larger than the individual parts. This is our vision for the future: better content mix, more engagement, more topics, and proper management.</p>

                    <p>Wuchna.com is our first effort at building a very large site. We intend to have a small team but dream big and achieve bigger. Our founder Gaurav Verma has never worked on such large sites, or Python, or Cassandra, or even cloud hosting! His prior experience encompasses a robotics engineering from India, an MBA in Industrial Automation and Finance from Purdue, a Venture Capital stint, and running a web-design firm for a better part of a decade before the idea of Wuchna bit him. He wanted to name the company Suchna (which means 'Information' in Hindi), but settled for Wuchna for a number of highly complex reasons (like domain name availability). </p>

                    <p>Wuchna has no co-founders, mostly because no one can stand Gaurav's weird ideas and conservative values. Seriously, he's visited Facebook a total of 5 times in 5 years! He stays in New Delhi but still prefers to walk a mile to the office everyday! He thinks gold is a better investment than stocks! His financial time preferences are 25 years! He roasts his own coffee beans! He reads books like Arthashastra translated directly from their ancient sanskrit versions! He thinks the Indian government is doing a great job! And his ideas regarding the upcoming economic, technical and environment singularity are extra-special btw! He prefers phonecalls over emails!<br><br> <mark>His number is +91-9871002345 btw, call him, you'll know!!</mark><br><br><br> </p>


                </div>
                </center>
            </span>
        </div>


    </body>
</html>

