<!DOCTYPE html>
{% load static %}
{% load activity_tags %}
<html lang="{{m.lang}}" >
<!-- begin::Head -->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<meta charset="utf-8" />
	<title>{{m.page_meta.meta_title}}</title>
	<meta name="description" content="{{m.page_meta.meta_dscr}}">
	<meta name="keywords" content="{% for meta_k in m.page_meta.meta_keywords%}{{meta_k}}{% if not forloop.last %},{% endif %}{% endfor %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<meta property="og:title" content="{{m.page_meta.meta_title}}" />
	<meta property="og:type" content="website" />
	{% for witem in m.images %}{% if forloop.counter == 1 %}<meta property="og:image" content="{{witem.wcontent | safe | default_if_none:""}}"/>{% endif %}{% endfor %}
	<meta property="og:url" content="https://wuchna.com/p/{{m.url}}" />
	<meta property="og:description" content="{{m.page_meta.meta_dscr}}" />
	<link rel="icon shortcut" type="image/png" href="https://mirrors.wuchna.com/wuchnamirror/wuchna-16x16.png" sizes="16x16">
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script>
	WebFont.load({
		google: {"families":["Poppins:300,400,500,600,700"]},
		active: function() {
			sessionStorage.fonts = true;
		}
	});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<!--begin::Base Styles -->
<link href="https://mirrors.wuchna.com/wuchnamirror/style.bundle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link href="https://mirrors.wuchna.com/wuchnamirror/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/pages.css" rel="stylesheet" type="text/css"/>


		<!-- {{m.custom_header|default_if_none:""}} -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124058811-1"></script>
		<script async>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-124058811-1');
		</script>
</head>
<!-- end::Head -->


<!-- begin::Body -->
<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default"  >
	<ul class="m-nav-sticky nav-stick-side" style="margin-top: 30px;">
		{% if m.firstline.apps.videos %}
		<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="Videos">
			<a href="#" id="videobtn2"><i class="fa fa-youtube-play m--font-danger"></i></a>
		</li>
		{% endif %}
		{% if m.firstline.apps.news %}
		<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="News">
			<a href="#" id="newsbtn2"><i class="fa fa-newspaper-o m--font-warning"></i></a>
		</li>
		{% endif %}
		{% if m.firstline.apps.wiki %}
		<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="Wiki">
			<a href="#" id="wikibtn2"><i class="fa fa-wikipedia-w m--font-success"></i></a>
		</li>
		{% endif %}
		{% if m.firstline.apps.images %}
		<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="Images">
			<a href="#" id="imagebtn2"><i class="fa fa-image m--font-accent"></i></a>
		</li>
		{% endif %}
		{% if m.firstline.apps.twitter %}
		<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="" data-placement="left" data-original-title="Twitter">
			<a href="#" id="twitterbtn2"><i class="fa fa-twitter m--font-info"></i></a>
		</li>
		{% endif %}
	</ul>

	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">


		<!-- BEGIN: Header -->
		<header id="m_header" class="m-grid__item m-header"  m-minimize-offset="200" m-minimize-mobile-offset="200" >
			<div class="m-container m-container--fluid m-container--full-height">
				<div class="m-stack m-stack--ver m-stack--desktop">
					<!-- BEGIN: Brand -->
					<div class="m-stack__item m-brand  m-brand--skin-light ">
						<div class="m-stack m-stack--ver m-stack--general">
							<div class="m-stack__item m-stack__item--middle m-brand__logo">
								<a href="https://wuchna.com" class="m-brand__logo-wrapper">
									<img alt="Wuchna" src="https://mirrors.wuchna.com/wuchnamirror/wuchna.png"/>
								</a>
								<h3 class="m-header__title"></h3>
							</div>
							<div class="m-stack__item m-stack__item--middle m-brand__tools">

								<!-- BEGIN: Responsive Aside Left Menu Toggler -->
								<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
									<span></span>
								</a>
								<!-- END -->

								<!-- BEGIN: Topbar Toggler -->
								<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
									<i class="fa fa-plus-circle"></i>
								</a>
								<!-- BEGIN: Topbar Toggler -->
							</div>
						</div>
					</div>
					<!-- END: Brand -->
					<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
						<div class="m-header__title">
							<h1 class="m-header__title-text">{{m.page_meta.full_title}}</h1>
						</div>
						<!-- BEGIN: Horizontal Menu -->
						<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn"><i class="fa fa-close"></i></button>

						<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light "  >
							<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
								{% for cat in m.firstline.categories %}
									<li class="m-menu__item m-menu__item--rel">
										<button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-{{colorsarray|random}}">{{cat}}</button>
									</li>
								{% endfor %}
								{% if m.firstline.apps.videos %}
									<li class="m-menu__item m-menu__item--rel">
										<a href="#" id="videostopbtn" class="btn btn-danger m-btn btn-sm m-btn m-btn--icon">
											<span>
												<i class="fa fa-youtube-play"></i>
												<span>Videos</span>
											</span>
										</a>
									</li>
								{% endif %}
								{% if m.firstline.apps.news %}
								<li class="m-menu__item m-menu__item--rel">
										<a href="#" id="newstopbtn" class="btn btn-warning btn-sm m-btn m-btn m-btn--icon">
											<span>
												<i class="fa fa-newspaper-o"></i>
												<span>News</span>
											</span>
										</a>
									</li>
								{% endif %}
										{% if m.firstline.apps.wiki %}
										<li class="m-menu__item m-menu__item--rel">
										<a href="#" id="wikitopbtn" class="btn btn-success btn-sm m-btn m-btn m-btn--icon">
											<span>
												<i class="fa fa-wikipedia-w"></i>
												<span>Wiki</span>
											</span>
										</a>
									</li>
										{% endif %}
										{% if m.firstline.apps.images %}
										<li class="m-menu__item m-menu__item--rel">
										<a href="#" id="imagestopbtn" class="btn btn-accent btn-sm m-btn m-btn--icon">
											<span>
												<i class="fa fa-image"></i>
												<span>Images</span>
											</span>
										</a>
									</li>
										{% endif %}
										{% if m.firstline.apps.twitter %}
										<li class="m-menu__item m-menu__item--rel">
										<a href="#" id="twittertopbtn" class="btn btn-info btn-sm m-btn m-btn--icon">
											<span>
												<i class="fa fa-twitter"></i>
												<span>Twitter</span>
											</span>
										</a>
									</li>
										{% endif %}
                            		</li>



									<li class="m-menu__item m-menu__item--rel">
										{% if not follow %}
											<form id="followForm" class="login-check" id="follow-form" action="/add-follower/{{ page }}/" method="post">
												{% csrf_token %}
												<input class="submit-button" type="submit" value="Follow" />

											</form>

											{% else %}
											<form id="unfollowForm" action="/remove-follower/{{ page }}/" method="post">
												{% csrf_token %}
												<input class="submit-button" type="submit" value="Unfollow" />

											</form>
										{% endif %}
									</li>
                            </ul>


						</div>
						<!-- END: Horizontal Menu -->
						<!-- BEGIN: Topbar -->
						<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">

							<div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" m-quicksearch-mode="default">
	<!--BEGIN: Search Form -->
	<form class="m-header-search__form">
		<div class="m-header-search__wrapper">
			<span class="m-header-search__icon-search" id="m_quicksearch_search">
				<i class="fa fa-search"></i>
			</span>
			<span class="m-header-search__input-wrapper">
				<input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
			</span>
			<span class="m-header-search__icon-close" id="m_quicksearch_close">
				<i class="la la-remove"></i>
			</span>
			<span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
				<i class="la la-remove"></i>
			</span>
		</div>
	</form>
								<!--END: Search Form -->
								<!--BEGIN: Search Results -->
								<div class="m-dropdown__wrapper">
									<div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__scrollable m-scrollable" data-scrollable="true"  data-height="300" data-mobile-height="200">
												<div class="m-dropdown__content m-list-search m-list-search--skin-light">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--BEGIN: END Results -->
							</div>

						</div>
						<!-- END: Topbar -->			</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn"><i class="fa fa-close"></i></button>

				<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
				</div>
				<!-- END: Left Aside -->
					<div class="m-grid__item m-grid__item--fluid m-wrapper">

						<!-- BEGIN: Subheader -->

						<!-- END: Subheader -->
						<div class="m-content">

							{% for witem in m.section2 %}{{witem.wcontent | safe | default_if_none:""}}{% endfor %}
							{% for witem in m.section3 %}{{witem.wcontent | safe | default_if_none:""}}{% endfor %}


							{% for witem in m.section1 %}{{witem.wcontent | safe}}{% endfor %}
							{% for witem in m.section4 %}{{witem.wcontent | safe}}{% endfor %}
							{% for witem in m.section5 %}{{witem.wcontent | safe}}{% endfor %}
							{% for witem in m.section6 %}{{witem.wcontent | safe}}{% endfor %}
							{% for witem in m.section7 %}{{witem.wcontent | safe}}{% endfor %}
							{% for witem in m.section8 %}{{witem.wcontent | safe}}{% endfor %}
							{% for witem in m.section9 %}{{witem.wcontent | safe}}{% endfor %}

							{% for witem in m.relations %}{{witem.wcontent | safe | default_if_none:""}}{% endfor %}
							{{m.page_references | safe | default_if_none:""}}
						</div>  <!-- m-content ends here -->


<div class="col-lg-6 col-xs-12 col-sm-12">
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-bubbles font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">Comments</span>
            </div>
        </div>
        <div class="portlet-body">

        	<!-- BEGIN: Comments -->
            <div class="mt-comments">
            	{% for comment in comments %}
                <div class="mt-comment">
                    <div class="mt-comment-img">
                        <img src="{% if request.user.profile.picture is not None %}/media/{{ request.user.profile.picture }}{% else %}http://placekitten.com/50/50{% endif %}" height="42" width="42"> </div>
                    <div class="mt-comment-body">
                        <div class="mt-comment-info">
                            <span class="mt-comment-author">{% if comment.user is not None %}{{ comment.user.username }}{% else %}Anonymous{% endif %}</span>
                            <span class="mt-comment-date">{{ comment.date_updated }}</span>
                        </div>
                        <div class="mt-comment-text"> {{ comment.comment }} </div>
                        <div class="mt-comment-details">
                            <span class="mt-comment-status mt-comment-status-approved">Approved</span>
                            <ul class="mt-comment-actions">
                                <!--<li>
                                    <a href="#">Quick Edit</a>
                                </li>
                                <li>
                                    <a href="#">View</a>
                                </li>-->
                                <li>
                                	{% if request.user.id == comment.user.id %}
                                	<form class="login-check" action="/delete-pages-comment/{{ page }}/" method="post">
                                		{% csrf_token %}
                                		<input type="hidden" name="id" value="{{ comment.id }}">						
										<input class="submit-button" type="submit" value="Delete" />
									</form>
									{% endif %}
                                    <!--<a href="#">Delete</a>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- END: Comments -->
        
            <form id="commentForm" class="form-inline" role="form" action="/post-comment/{{ page }}/" method="POST">
		    	{% csrf_token %}
		    	<input type="hidden" name="user" value="{{ request.user.id }}" />
		    	<input type="hidden" name="page" value="{{ page }}" />
		        <div class="form-group">
		            <input class="form-control" type="text" name="comment" placeholder="Your comment" />
		        </div>
		        <div class="form-group">
		            <button id="comment-button" class="submit-button btn btn-default">Add</button>
		        </div>
		    </form>

        </div>
    </div>
</div>


<!-- Question Box  -->
<label>Question Box</label>
{% for question in questions %}
<div class="detailBox">
    <div class="titleBox">
      
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="questionBox">
        
        <p class="taskDescription">{{ question.question }}</p>
        Upvote count {% activity_count_questions question "U" %}

    </div>
    <div class="actionBox">
        <ul class="questionList">
            {% for answer in question.answers.all %}
            <li>
                <div class="questionerImage">
                	{{ request.user.username }}
                  <!--<img src="http://placekitten.com/50/50" /> -->
                	
                </div>
                <div class="questionText">
                    <p class="">{{ answer.answer }}</p> <span class="date sub-text">on {{ answer.date_created }}</span>

                </div>
            </li>
            <br>
            {% endfor %}
        </ul>
        <!-- Form to give answer -->
        <form id="answerForm{{ question.id }}" class="form-inline" role="form" action="/give-answer/{{ page }}/" method="POST">
        	{% csrf_token %}
        	<input type="hidden" name="user" value="{{ request.user.id }}" />
        	<input type="hidden" name="page" value="{{ page }}" />
            <input type="hidden" name="question" value="{{ question.id }}" />
            <div class="form-group">
                <input class="form-control" type="text" name="answer" placeholder="Your answers" />
            </div>
            <div class="form-group">
                <button data-id="{{ question.id }}" class="submit-button btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>
{% endfor %}


Ask your question
<!-- Form to ask new question -->
<form id="questionForm" class="form-inline" role="form" action="/ask-question/{{ page }}/" method="POST">
        	{% csrf_token %}
        	<input type="hidden" name="user" value="{{ request.user.id }}" />
        	<input type="hidden" name="page" value="{{ page }}" />
            <div class="form-group">
                <input class="form-control" type="text" name="question" placeholder="Your question?" />
            </div>
            <div class="form-group">
                <button class="submit-button btn btn-default">Add</button>
            </div>
        </form>
					</div> <!-- m-grid__item ends here -->
					
				</div>
				<!-- end:: Body -->


				<!-- begin::Footer -->
				<footer class="m-grid__item		m-footer ">
					<div class="m-container m-container--fluid m-container--full-height m-page__container">
						<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
							<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
								<span class="m-footer__copyright">
									2018 &copy; <a href="http://wuchna.com" class="m-link">Wuchna</a>
								</span>
							</div>
							<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
								<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
									<li class="m-nav__item m-nav__item">
										<a href="https://wuchna.com/about" class="m-nav__link" data-toggle="m-tooltip" title="About" data-placement="left">
											<i class="m-nav__link-icon fa fa-info m--icon-font-size-lg3"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
				<!-- end::Footer -->


			</div>
			<!-- end:: Page -->


			<!-- begin::Scroll Top -->
			<div id="m_scroll_top" class="m-scroll-top">
				<i class="fa fa-arrow-up"></i>
			</div>
			<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="videoWrapper">
								<iframe style="width:100%" class="video_idss" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="m_modal_1_21" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Narration</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="text-data" style="height: 200px; overflow: scroll !important;">

								<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 4px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>


							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="m_modal_1_22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<div class="text-data-desc" style="height: 200px; overflow: scroll !important;">
									<div class="ps__rail-x" style="left: 0px; bottom: 0px;">
										<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
									</div>
									<div class="ps__rail-y" style="top: 0px; right: 4px;">
										<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>												<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
				<!--begin::Base Scripts -->
				<!-- <script async src="{% static "assets/vendors/base/vendors.bundle.js" %}" type="text/javascript"></script> -->
				<script async src="https://mirrors.wuchna.com/wuchnamirror/vendors.bundle.js" type="text/javascript"></script>
				<script async src="https://mirrors2.wuchna.com/homepics/scripts.bundle.js" type="text/javascript"></script>
			 <script src="https://mirrors.wuchna.com/assets/jquery.cubeportfolio.js" type="text/javascript"></script>
                <script src="https://mirrors.wuchna.com/assets/portfolio-3.min.js" type="text/javascript"></script>
                <script src="/static/js/pages.js" type="text/javascript"></script>

 <!-- 			<script async src="https://keenthemes.com/metronic/preview/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
				<script async src="https://keenthemes.com/metronic/preview/assets/demo/demo6/base/scripts.bundle.js" type="text/javascript"></script>
 -->				<!-- <script async src="https://keenthemes.com/metronic/preview/assets/app/js/dashboard.js" type="text/javascript"></script> -->
				<!-- <script async src="{% static "assets/demo/demo6/base/scripts.bundle.js" %}" type="text/javascript"></script> -->
				<!--end::Base Scripts -->

				<!-- <script>
					var input = document.getElementById("my_quicksearch_input");
					input.addEventListener("keyup", function(event) {
						event.preventDefault();
						if (event.keyCode === 13) {
							window.location.href = 'https://wuchna.com/p/'+input.value;
						}
					});
				</script> -->
				<!--{{m.custom_footer | safe | default_if_none:""}} -->

				<!--begin::Page Snippets -->

				
			<script  src="https://code.jquery.com/jquery-1.12.0.min.js" crossorigin="anonymous"></script>
				<!--end::Page Snippets -->
				<script>
                    $(document).ready(function () {
					pages_function1();
					//alert("{{ request.user.id }}");

                    });

	            $('.submit-button').click(function(e){
	              e.preventDefault();              
  	              if ("{{ request.user.id }}" != "None")
  	              	$(this).closest("form").submit();              
	              	//$("#questionForm")[0].submit();
	          	  else
	          	  	alert("Please login to continue!");
	            });
				</script>
				<script>
                    $(document).ready(function () {
						pages_function2();

                    });
				</script>
				{% if m.firstline.apps.twitter %}
				<script async>
					$(document).ready(function(){
						var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						po.src = 'https://platform.twitter.com/widgets.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					});
				</script>
				{% endif %}
				<script src="https://mirrors.wuchna.com/wuchnamirror/lazy.js" type="text/javascript" charset="utf-8"></script>
<script>
     $(document).ready(function () {
						$('.lazy').lazy();
     });
</script>
			</body>
			<!-- end::Body -->
			</html>
